body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
    /* height: 500px; */
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

main.dark-theme {
    background-color: black;
    color: white;
}

header.dark-theme {
    background-color: pink;
    color: black;
}

footer.dark-theme {
    background-color: brown;
    color: white;
}

.first {
    color: aqua;
    display: flex;
    justify-content: space-around;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: center;
}