/* General body styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(210, 36%, 96%);
    margin: 0;
    color: #333;
}

/* Container for the to-do list */
.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

/* Header styles */
h1 {
    margin: 10px 0;
}

/* Input and button styling */
input, button {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Individual list item */
li {
    background: #f8f9fa;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Radio button for marking tasks */
.status-radio {
    cursor: pointer;
}

/* Completed tasks */
.completed {
    text-decoration: line-through;
    color: green;
}

/* Change delete button color when task is completed */
.completed .delete-btn {
    background: green;
    color: white;
    border-color: yellowgreen;
}

.completed .delete-btn:hover {
    background: darkgreen;
}

.delete-btn {
    background: blue;
    color: white;
    border: 2px solid #ddd;
    width: 60px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete-btn:hover {
    background: red;
}